<div class="jumbotron">
  <h1><span id="temperature"></span>&deg;C</h1>
  <p class="lead"></p>
  <p>
    <button id="garage-door" type="button" class="btn btn-lg">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
      Garage door is
      <span class='status'></span>
    </button>
  </p>
</div>

